/* Style the form */
body {
    background-color: #e0fbfc;
}

nav {
    position: relative !important;
}

#register2 {
    border-right: 2px solid black;
}

.card {
    background-color: #98c1d9;
    height: fit-content;
}

/* Style the input fields */
/* input,
select {
    padding: 10px;
    width: 100%;
    border: 1px solid #aaaaaa;
} */

/* Mark input boxes that gets an error on validation: */
input.invalid,
select.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #293241;
}